* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2C3E50;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.menu {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.opciones {
    text-align: center;
    transition: transform 0.3s;
    padding: 20px;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 200px;
}

.opciones:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.opciones img {
    width: 120px;
    height: 120px;
}

.opciones p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #2C3E50;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2C3E50;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
    z-index: 1000;
}

footer a {
    color: #e74c3c;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }
    .opciones {
        width: 100%;
        margin-bottom: 20px;
    }
    header {
        font-size: 24px;
    }
    footer {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .opciones img {
        width: 80px;
        height: 80px;
    }
    .opciones p {
        font-size: 14px;
    }
    header {
        padding: 15px;
    }
    footer {
        padding: 15px;
    }
}